/* CSS declarations go here */
body {
  font-family: sans-serif;
  line-height: normal;
}

header {
  color: #0D47A1;
  padding: 15px 10% 15px 10%;
}

h1 {
  font-size: 2.5em;
  margin-top: 10px;
}

h2 {
  margin: 0px;
}

/***** LOGOS *****/
.logos img {
  padding: 10px 15px 0px 15px;
}

/***** TOP VIEWBAR *****/
.view-bar {
  background: #0D47A1;
  padding: 15px 90px 15px 90px;
  color: #FFFFFF;
}

/***** REPORT LIMIT *****/
.report-limit {
  left: 0;
  bottom: 0;
  font-size: 1.5em;
  position: absolute;
  margin-left: 30pt;
  margin-bottom: 10pt;
}

.report-limit input {
  color: #0D47A1;
}

/***** SEARCH BAR *****/
.search {
  right: 0;
  bottom: 0;
  font-size: 1.5em;
  position: absolute;
  margin-right: 30pt;
  margin-bottom: 10pt;
}

.search input {
  color: #0D47A1;
  margin-right: 20px;
}

/* delete icons */
.delete {
  float: left;
  font-weight: bold;
  background: none;
  border: none;
  margin: 0 0 0 -20px;
}

.delete:focus{
  outline: 0;
  opacity: 0.5;
}

.search .delete {
  float: right;
  position: relative;
}

/* multi-browser support for search bar placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
    font-size: 0.8em;
    font-weight: 100;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: gray;
   opacity: 1;
   font-size: 0.8em;
   font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: gray;
   opacity: 1;
   font-size: 0.8em;
   font-weight: 100;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: gray;
   font-size: 0.8em;
   font-weight: 100;
}

/***** CONTAINER BOXES *****/
.list-container {
  margin: 25px 0px 25px 0px;
  padding: 15px;
  box-shadow: 0px 0px 5px 2px #BABABA;
  display: inline-block;
  /*overflow: hidden;*/
  width: 100%;
}

.list-container-title {
  padding: 10px 10px 10px 10px;
  margin: 0% 0.5% 0.5% 0.5%;
  font-size: 2em;
  font-weight: bold;
}

/***** FILTERS *****/
.filter-category {
  font-size: 1.1em;
  text-align: left;
  padding: 20px 0px 10px 0px;
}

.filter-extraction-item {
  margin-top: -15px;
  width: 120%;
  text-align: left;
  border-style: solid;
  border-color: white;
}

.clear-all {
  color: gray;
  background-color: transparent;
  border: none;
  position: absolute;
  margin-top: -40px;
  right: 20px;
}

.clear-all:focus {
  outline: 0;
  opacity: 0.5;
}

/***** ALL MAJOR BUTTONS *****/
.button-section {
  text-align: center;
  margin-top: 15pt;
}

.button-section p {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

/***** EXPORT BUTTONS *****/
.export-ReportID {
  float: left;
  margin-left: 20px;
}

.export-EMPI {
  float: right;
  margin-right: 20px;
}

/***** VALIDATED BUTTONS *****/
.unvalidate-button {
  float: left;
}

.submit-button {
  float: right;
}

/***** REPORT LIST ITEMS *****/
.report-list-item {
  background-color: #f1f1f1;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  font-size: 1.5vw;
  display: flex;
  left: 2vw;
}

.report-list-item a {
  color: black;
}

/***** CHECKBOXES *****/
/* hide the ordinary checkbox */
input[type="checkbox"] {
  opacity: 0;
}

/* check-all-box divs */
.check-all {
  font-size: 1.3em;
  position: absolute;
  left: 0;
  margin-left: 45px;
  margin-top: 30px;
}

/* all checkboxes */
.check:before, .check:after{
  font-family: FontAwesome;
  position: absolute;
  font-size: 30px;
}

/* all reports view checkboxes */
.checkbox-label, .checkbox-label-all {
  padding-left: 20px;
  cursor: pointer;
  color: gray;
}

.checkbox-label:before, .checkbox-label:after {
  left: 10px;
  margin-top: -3px;
}

.checkbox-label-all:before, .checkbox-label-all:after {
  left: 5px;
  top: -5px;
}

/* one reports view checkboxes */
.checkbox-label-display, .checkbox-label-displayall {
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
  color: gray;
  display: block;
}

.checkbox-label-displayall {
  font-size: 18px;
  text-align: left;
}

.checkbox-label-display:before, .checkbox-label-display:after {
  left: 30px;
  margin-top: -5px;
  display: block;
}

.checkbox-label-displayall:before, .checkbox-label-displayall:after {
  left: 30px;
  margin-top: -3px;
}

/* checking animations */
.check:before {
  content: '\f096'; /*checkbox unchecked */
}
.check:after {
  content: '\f00c'; /*checkbox checked*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  font-size: 18px;
  color: #0D47A1;

-webkit-transition: all 0.50s;
  -moz-transition: all 0.50s;
  -o-transition: all 0.50s;
   transition: all 0.50s;
}

.checkbox-label:after, .checkbox-label-displayall:after {
  margin-top: 3px;
  margin-left: 2.5px;
}

.checkbox-label-all:after {
  margin-top: 6px;
  margin-left: 2.5px;
}

.checkbox-label-display:after {
  margin-top: -17px;
  margin-left: 2.5px;
}

/* animating the checkbox icon */
input[type="checkbox"]:checked + .check:after {
  max-width: 25px;
  opacity: 1;
  margin-right: 90px;
}


/***** BACK BUTTON (One Report View) *****/
.back-button{
  margin-left: 50px;
}

/***** FILTER DISPLAY CHECKBOXES *****/
.display-filter-item {
  font-size: 1.1em;
  text-align: left;
}

/***** REPORT TEXT SECTION *****/
.report-text {
  margin: 5px 5px 5px 5px;
  font-size: 0.8em;
  text-align: left;
  overflow: scroll;
  white-space: pre-wrap;
  margin-top: 25px;
}

/* toggle segmented */
.segmented {
  float: left;
  font-size: 1.2em;
  color: gray;
  margin-left: 5px;
  margin-top: 1px;
}

.react-toggle {
  position: relative;
  cursor: pointer;
  float: left;
  margin-left: 8px;
}

.react-toggle-track {
  width: 45px;
  height: 22px;
  padding: 0;
  background-color: #dbdbdb;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.react-toggle--checked .react-toggle-track {
  background-color: #7ac18f;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #FAFAFA;
}

.react-toggle--checked .react-toggle-thumb {
  left: 24px;
  border-color: #19AB27;
}

/***** REPORT EXTRACTIONS *****/
.report-extraction-item {
  background-color: #f1f1f1;
  padding: 0px 20px 0px 20px;
  text-align: left;
  border-style: solid;
  border-color: white;
}

.validated {
  background-color: #c4ffd6;
}

.submitted {
  background-color: #c4daff;
}

/***** FOOTER *****/
.footer {
  padding: 30px 15px 15px 15px;
  text-align: center;
}

/***** OTHER FORMATTING *****/
.centered {
  text-align: center;
}

.row-same-height {
  display: table;
  width: 100%;
}

/* space for the clear-all button */
.col-md-12{
  margin: 5px 0px;
}

/* hovering over report-list-item links */
a:hover {
  color: hotpink;
}
